@use "utilities" as *;
@use "themes" as *;
@use "base" as *;

main {
  width: calc(100% - 4rem);
  margin: 2rem auto;
  padding: 1rem;
  max-width: $break-sm;

  background: var(--content-background);
}

details {
  cursor: pointer;

  margin-bottom: 2rem;
}

summary {
  display: list-item;
}

details.icon {
  &.-right {
    summary {
      list-style: none;
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &::marker,
      &::-webkit-details-marker {
        display: none;
      }

      &::after {
        content: '\002B';
        margin-left: .5rem;
        font-size: 1.15em;
        color: var(--cta);
      }
    }
    &[open] summary::after {
      content: '\00d7';
    }
  }

  &.-animated {
    summary {
      list-style: none;
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &::marker,
      &::-webkit-details-marker {
        display: none;
      }

      &::after {
        content: '\002B';
        margin-left: .5rem;
        font-size: 1.75em;
        color: var(--cta);
        transform: rotate(0deg);
        transition: all 1s;
      }
    }

    &[open] summary::after {
        transform: rotate(225deg);
    }
  }
}



details.arrow {
  &.-right {
    summary {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: center;
      gap: .5em;
      max-width: max-content;
    }
  }
}

